.custom-scrollbar {
  /* Hide default scrollbar */
  -ms-overflow-style: none; /* For IE and Edge */
  scrollbar-width: none; /* For Firefox */
  overflow-x: auto; /* Allow horizontal scrolling */
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Hide the default scrollbar */
}
